@charset "UTF-8";
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: bold;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "SF Display";
  color: black;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  background: white;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
body a:hover,
body a:focus {
  text-decoration: none;
  color: inherit;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
body section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
body .go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #1A84D7;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transform: translateY(100px);
}
body .go-top:hover {
  background: #1A84D7;
}
body .go-top:hover span:nth-child(1) {
  transform: rotate(-35deg);
  left: 7px;
  top: 18px;
}
body .go-top:hover span:nth-child(2) {
  transform: rotate(35deg);
  left: 19px;
  top: 18px;
}
body .go-top span {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 2px;
  background: white;
  transition: 0.2s;
}
body .go-top span:nth-child(1) {
  left: 5px;
}
body .go-top span:nth-child(2) {
  left: 20px;
}
body button:focus {
  outline: none;
}
body input:focus,
body select:focus {
  box-shadow: 0 0 0 0.2rem rgba(26, 132, 215, 0.5);
}

body .xzoom-source img,
body .xzoom-preview img,
body .xzoom-lens img {
  z-index: 1051;
}
body .overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
body .overlay-menu.overlay-in {
  display: block;
}
body .modal {
  cursor: url("../img/cursor.png"), auto;
  z-index: 1050;
}
body .mfp-bg {
  z-index: 1052;
}
body .mfp-wrap {
  z-index: 1053;
}
body .swal2-popup .swal2-styled.swal2-confirm {
  background: #1A84D7;
}
body .swal2-popup .swal2-styled.swal2-confirm a {
  font-weight: 500;
}
body .ui-widget.ui-widget-content {
  z-index: 1050;
}

.pagination {
  margin-bottom: 10px;
}
.pagination .page-item .page-link {
  background: none;
  border: 1px solid #666;
  color: #585858;
  border-radius: 3px;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  background: none;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus, .pagination .page-item .page-link.active {
  background: #1A84D7;
  color: white;
}

.bread-crumb {
  color: black;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: left;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
  justify-content: left;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "/";
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #1A84D7;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #1A84D7;
}

.quickview {
  cursor: url("../img/cursor.png"), auto;
}
.quickview .modal-content {
  cursor: default;
}
.quickview .modal-content .modal-body img {
  margin-bottom: -5px;
}
.quickview .modal-content .modal-body h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h5 {
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 {
  color: #1A84D7;
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 span {
  font-weight: 400;
  color: #585858;
  text-decoration: line-through;
  margin-left: 20px;
}
.quickview .modal-content .modal-body p {
  margin-bottom: 20px;
  color: #656565;
}
.quickview .modal-content .modal-body input {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  margin: 0 5px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 3px;
}
.quickview .modal-content .modal-body .cart-btn {
  border: 2px solid #1A84D7;
}
.quickview .modal-content .modal-body .cart-btn:hover {
  background: none;
  border-color: black;
}
.quickview .modal-content .modal-body .xzoom-thumbs a {
  background: none;
  margin: 1px;
}
.quickview .modal-content .modal-body .xzoom-thumbs .xactive {
  border: 1px solid #1A84D7;
}
.quickview .modal-content .modal-body .tags {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.quickview .quantity span {
  margin-right: 5px;
}
.quickview .quantity input {
  background: none;
  border: 0;
  width: 35px;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 5px;
}
.quickview .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.quickview .quantity button:hover {
  background: #1A84D7;
}
.quickview .quantity button.custom-cart {
  background: #1A84D7;
  border: 0;
  padding: 0 14px;
  height: 40px;
  width: auto;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
  border: 1px solid #1A84D7;
  margin-left: 10px;
}
.quickview .quantity button.custom-cart:hover {
  color: #1A84D7;
  background: none;
}
.quickview .quantity .custom-wishlist {
  background: white;
  margin-left: 5px;
  border: 1px solid white;
}
.quickview .quantity .custom-wishlist:hover {
  border-color: #1A84D7;
}
.quickview .tags span a {
  color: #1A84D7;
}
.quickview .tags span a:hover {
  text-decoration: underline;
}

.modal-img {
  position: relative;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #1A84D7 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.cart-page {
  margin-top: 40px;
  margin-bottom: 40px;
}
.cart-page-product {
  margin-bottom: 30px;
}
.cart-page-product table {
  border: 1px solid #cccccc;
}
.cart-page-product table thead {
  background: #e1e1e1;
  border: none;
}
.cart-page-product table thead th {
  border-right: 1px solid #cccccc;
  text-align: center;
  font-weight: 500;
}
.cart-page-product table tbody td {
  text-align: center;
}
.cart-page-product table tbody h4 {
  font-weight: bold;
}
.cart-page-product .table-dark {
  background: transparent;
}
.cart-page-product .table-responsive > .table-bordered {
  border-top: 1px solid #cccccc;
  background: white;
}
.cart-page-product-1 {
  text-align: left !important;
  color: black;
}
.cart-page-product-1 img {
  width: 100px;
  float: left;
  margin-right: 10px;
}
.cart-page-product-1 h5 {
  transition: 0.5s;
}
.cart-page-product-1 h5 a {
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}
.cart-page-product-1 h5 a:hover {
  color: #1A84D7;
}
.cart-page-product-1 i {
  margin-top: 5px;
  transition: 0.5s;
  color: black;
  font-size: 20px;
}
.cart-page-product-1 i:hover {
  color: #1A84D7;
}
.cart-page-product .quantity {
  text-align: center;
}
.cart-page-product .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #959595;
  background: none;
  color: #585858;
  outline-color: #1A84D7;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.cart-page-product .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: #959595;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
  margin-bottom: 5px;
}
.cart-page-product .quantity button:hover {
  background: #1A84D7;
}
.cart-page-product-3 h4 {
  color: #1A84D7;
}
.cart-page-total {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
  color: black;
}
.cart-page-total-title {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
  font-weight: 500;
}
.cart-page-total .table-dark {
  background: none;
  font-size: 12px;
}
.cart-page-total .table-dark .total-over {
  color: #1A84D7;
}
.cart-page-total input {
  height: 40px;
  width: 100%;
  border: 1px solid #e1e1e1;
  background: none;
  padding-left: 10px;
  font-style: italic;
  color: #cccccc;
}
.cart-page-total input:focus {
  outline-color: #1A84D7;
}
.cart-page-total button {
  background: #383838;
  color: #cccccc;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.cart-page-total button:hover, .cart-page-total button:focus {
  background: #1A84D7;
  color: black;
  outline: none;
}
.cart-page-total-btn {
  margin-top: 30px;
  text-align: center;
}
.cart-page-total-btn a {
  text-transform: uppercase;
  padding: 15px 30px;
  color: white;
  background: #1A84D7;
  border: 2px solid #1A84D7;
  border-radius: 3px;
  font-weight: bold;
}
.cart-page-total-btn a:hover {
  background: none;
  color: #1A84D7;
}
.cart-page-btn button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #383838;
  margin-left: 5px;
  margin-bottom: 30px;
}
.cart-page-btn button:hover {
  color: white;
  background: #1A84D7;
}
.cart-page-btn a {
  text-transform: uppercase;
  padding: 10px 15px;
  background: #cccccc;
  color: #383838;
  transition: 0.3s;
  border-radius: 3px;
  font-weight: 500;
}
.cart-page-btn a:hover {
  color: white;
  background: #1A84D7;
}

.pay-page {
  margin: 40px 0;
  color: black;
}
.pay-page-title h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}
.pay-page .pay-info-1 {
  border: 1px solid #e1e1e1;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background: white;
}
.pay-page .pay-info-1 input,
.pay-page .pay-info-1 select {
  height: 40px;
  border: 1px solid #e1e1e1;
  background: none;
  color: #585858;
  font-size: 14px;
}
.pay-page .pay-info-1 input:hover, .pay-page .pay-info-1 input:focus,
.pay-page .pay-info-1 select:hover,
.pay-page .pay-info-1 select:focus {
  box-shadow: 0 0 0 0.1rem #1A84D7;
}
.pay-page .pay-info-1 textarea {
  background: none;
  border: 1px solid #e1e1e1;
  height: 100px;
  font-size: 14px;
}
.pay-page .pay-info-1 textarea:hover, .pay-page .pay-info-1 textarea:focus {
  box-shadow: 0 0 0 0.1rem #1A84D7;
}
.pay-page .pay-info-1 .form-group {
  margin-bottom: 20px;
}
.pay-page .pay-info-2 {
  border: 1px solid #e1e1e1;
  padding: 10px;
  color: #585858;
}
.pay-page .pay-info-2 td {
  text-align: center;
}
.pay-page .pay-info-2 .pay-total {
  color: #1A84D7;
  font-weight: 500;
  font-size: 16px;
}
.pay-page .pay-info-2-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pay-page .pay-info-2-btn button {
  background: none;
  color: #585858;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.pay-page .pay-info-2-btn button:focus {
  outline: none;
}
.pay-page .pay-info-2-btn a {
  background: #cccccc;
  color: #585858;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s;
  font-weight: 500;
  text-transform: uppercase;
}
.pay-page .pay-info-2-btn a:hover {
  background: #1A84D7;
  color: white;
}
.pay-page .pay-info-2-btn .order-btn {
  padding: 8px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #1A84D7;
  border: 2px solid #1A84D7;
}
.pay-page .pay-info-2-btn .order-btn:hover {
  background: none;
  color: #1A84D7;
}
.pay-page .pay-order {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
  background: white;
}
.pay-page .pay-order p {
  margin: 0;
}
.pay-page .pay-order .box-pay-order {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.pay-page .pay-order .box-pay-order img {
  width: 100px;
  margin-right: 10px;
  float: left;
  position: relative;
}
.pay-page .pay-order .box-pay-order h5 {
  margin-bottom: 5px;
}
.pay-page .pay-order .box-pay-order h5 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.5s;
}
.pay-page .pay-order .box-pay-order h5 a:hover {
  color: #1A84D7;
}
.pay-page .pay-order .box-pay-order h4 {
  color: #1A84D7;
}

.contact-page {
  margin-bottom: 50px;
}
.contact-page .box-contact {
  color: black;
}
.contact-page .box-contact input {
  height: 40px;
}
.contact-page .box-contact textarea {
  height: 100px;
}

.footer {
  background: #252525;
  color: white;
  padding-top: 30px;
}
.footer h4 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #383838;
  text-transform: uppercase;
  font-weight: 600;
}
.footer h4 i {
  float: right;
  margin-top: -4px;
  display: none;
}
.footer ul li {
  margin-bottom: 15px;
  color: #ccc;
}
.footer ul li i {
  margin-right: 10px;
  color: #1A84D7;
  font-size: 14px;
}
.footer ul li a {
  color: #ccc;
  transition: 0.3s;
  font-size: 0.9em;
}
.footer ul li a:hover {
  color: #1A84D7;
}
.footer i {
  font-size: 20px;
  margin-right: 15px;
  transition: 0.3s;
}
.footer i:hover {
  color: #1A84D7;
}
.footer .support h5 {
  text-transform: uppercase;
}
.footer .support img {
  float: left;
  margin-right: 5px;
  width: 70px;
}
.footer .support h6 {
  color: #1A84D7;
}
.footer .copyright {
  margin-top: 15px;
  padding: 10px 0;
  border-top: 1px solid #383838;
}

.header-top {
  background: #f4f4f4;
}
.header-top h5 {
  padding: 12px 0;
}
.header-top ul li {
  margin-left: 40px;
  display: inline-block;
  padding: 12px 0;
}
.header-top ul li:first-child {
  margin-left: 0;
}
.header-top ul li a {
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-top ul li a:hover {
  color: #1A84D7;
}
.header-top ul li a i {
  padding-right: 10px;
  color: #1A84D7;
}

.header-bottom {
  padding: 30px 0;
}
.header-bottom .container {
  display: grid;
  grid-template-columns: 400px calc(100% - 600px) 200px;
}
.header-bottom .logo {
  height: 40px;
}
.header-bottom .search form {
  position: relative;
}
.header-bottom .search input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background: #f4f4f4;
  padding-left: 10px;
}
.header-bottom .search input:focus {
  border-color: #FE9516;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header-bottom .search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: white;
  background: #FE9516;
  text-align: center;
  line-height: 40px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header-bottom .search button i {
  font-size: 16px;
}
.header-bottom .search select {
  position: absolute;
  right: 40px;
  height: 40px;
  width: 150px;
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  top: 0;
  color: #585858;
  padding: 0 10px;
}
.header-bottom .search select:focus {
  border-color: #FE9516;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header-bottom .cart {
  margin-top: 8px;
  text-align: right;
}
.header-bottom .cart a {
  padding: 12px;
  padding-right: 30px;
  background: #FE9516;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}
.header-bottom .cart a i {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid white;
  font-size: 16px;
}
.header-bottom .cart a span {
  background: #1A84D7;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 10px;
  color: white;
  position: absolute;
  border-radius: 50%;
  margin-left: -5px;
}

.menu {
  z-index: 1000;
  background: #1A84D7;
  position: relative;
  height: 60px;
}
.menu.down {
  position: fixed;
  width: 100%;
  top: 0;
  right: 15px;
}
.menu .main-menu {
  position: relative;
}
.menu .main-menu .toggleMenu {
  cursor: pointer;
  display: none;
  color: black;
  margin: 10px 0;
  z-index: 10000;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.menu .main-menu .toggleMenu i {
  font-size: 26px;
}
.menu .main-menu .nav {
  display: block;
  text-align: center;
}
.menu .main-menu .nav li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  padding: 20px 0;
}
.menu .main-menu .nav li .active {
  background: #FE9516;
}
.menu .main-menu .nav li a {
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  padding: 0;
  display: initial;
  padding: 22px 17px;
  text-transform: uppercase;
}
.menu .main-menu .nav li a:hover {
  background: #FE9516;
}

.title-page {
  margin-bottom: 30px;
}
.title-page h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.article-top {
  background: #f4f4f4;
  padding: 30px 0;
  position: relative;
}
.article-top .container {
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-gap: 30px;
}
.article-top .category {
  background: white;
  border: 1px solid #FE9516;
  position: relative;
}
.article-top .category h4 {
  font-weight: 600;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  width: 100%;
  background: #FE9516;
  color: white;
}
.article-top .category h4 i {
  float: right;
  font-size: 20px;
}
.article-top .category ul {
  padding: 15px;
  padding-bottom: 0;
  height: 350px;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.article-top .category ul.active {
  height: auto;
}
.article-top .category ul li {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.article-top .category ul li:last-child {
  margin-bottom: 0px;
}
.article-top .category ul li a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #585858;
}
.article-top .category ul li a:hover {
  color: #FE9516;
}
.article-top .category h5 {
  padding: 10px 15px;
  color: #FE9516;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.article-top .category h5:hover {
  color: #1A84D7;
}
.article-top .category h5 i {
  margin-left: 15px;
}

.slider {
  position: relative;
}
.slider .owl-theme .owl-dots {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0;
}
.slider .owl-theme .owl-dots .owl-dot {
  display: block;
}
.slider .owl-theme .owl-dots .owl-dot.active span {
  background: #1A84D7;
}
.slider .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 30px;
  margin: 5px 0;
  display: block;
  background: black;
  border-radius: 0;
  position: relative;
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.product-page {
  margin-bottom: 10px;
}
.product-page .container {
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-gap: 30px;
}
.product-page .left .category {
  background: white;
  border: 1px solid #FE9516;
  position: relative;
  margin-bottom: 30px;
}
.product-page .left .category h4 {
  font-weight: 600;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  width: 100%;
  background: #FE9516;
  color: white;
}
.product-page .left .category h4 i {
  float: right;
  font-size: 20px;
}
.product-page .left .category ul {
  padding: 15px;
  padding-bottom: 0;
  height: auto;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.product-page .left .category ul.active {
  height: auto;
}
.product-page .left .category ul li {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .left .category ul li:last-child {
  margin-bottom: 0px;
}
.product-page .left .category ul li a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #585858;
}
.product-page .left .category ul li a:hover {
  color: #FE9516;
}
.product-page .left .category h5 {
  padding: 10px 15px;
  color: #FE9516;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product-page .left .category h5:hover {
  color: #1A84D7;
}
.product-page .left .category h5 i {
  margin-left: 15px;
}
.product-page .left .seller {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}
.product-page .left .seller .title-left {
  background: #f4f4f4;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.product-page .main .title-page h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.product-page .main-zone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 20px;
}
.product-page .main .product-detail-1-img .xzoom-thumbs {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 25px;
  position: relative;
}
.product-page .main .product-detail-1-img .xzoom-thumbs img {
  width: auto;
  height: 80px;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xzoom-gallery:hover {
  border-color: #1A84D7;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xactive {
  border-color: #1A84D7;
  -webkit-box-shadow: 0px 0px 3px 0px #1A84D7;
  box-shadow: 0px 0px 3px 0px #1A84D7;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:hover, .product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:focus,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:hover,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:focus {
  color: #1A84D7;
  background: none;
  outline: none;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev {
  left: -12%;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  right: -12%;
}
.product-page .main .product-detail-1-detail {
  color: #585858;
  margin-bottom: 30px;
}
.product-page .main .product-detail-1-detail h2 {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}
.product-page .main .product-detail-1-detail p {
  color: #585858;
  margin-bottom: 10px;
}
.product-page .main .product-detail-1-detail h4 {
  color: #1A84D7;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-page .main .product-detail-1-detail h4 span {
  color: #585858;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 30px;
}
.product-page .main .product-detail-1-detail h5 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .main .product-detail-1-detail .quantity a {
  margin: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.product-page .main .product-detail-1-detail .quantity a:hover {
  color: #1A84D7;
}
.product-page .main .product-detail-1-detail .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #959595;
  background: none;
  color: #585858;
  outline-color: #1A84D7;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.product-page .main .product-detail-1-detail .quantity button {
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.product-page .main .product-detail-1-detail .quantity button:hover {
  background: #1A84D7;
}
.product-page .main .product-detail-1-detail .quantity button.custom-cart {
  background: #1A84D7;
  color: white;
  height: 40px;
  width: 130px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #1A84D7;
  margin-left: 5px;
}
.product-page .main .product-detail-1-detail .quantity button.custom-cart:hover, .product-page .main .product-detail-1-detail .quantity button.custom-cart:focus {
  background: none;
  color: #1A84D7;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.product-page .main .product-detail-2-title .nav-tabs {
  border-bottom: 2px solid #383838;
  margin-bottom: 30px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item {
  margin-bottom: -2px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link {
  padding-bottom: 11px;
  border: none;
  border-bottom: 2px solid #383838;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link.active, .product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link:hover {
  background: none;
  border: none;
  border-bottom: 2px solid #1A84D7;
  padding-bottom: 11px;
  color: #1A84D7;
}
.product-page .main .similar h2 {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 2px solid #555555;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.service-page {
  margin-bottom: 40px;
}
.service-page .box-service {
  margin-bottom: 40px;
}

.service-page .category, .page-detail .category, .cart-page .category, .pay-page .category, .contact-page .category {
  display: none;
}

.page-detail {
  margin-bottom: 40px;
}
.page-detail img {
  margin-bottom: 20px;
}
.page-detail .similar {
  margin-top: 50px;
}
.page-detail .box-service {
  margin-bottom: 40px;
}
.page-detail .box-service img {
  margin: 0;
}

.category {
  background: white;
  border: 1px solid #FE9516;
  position: relative;
  margin-bottom: 30px;
}
.category h4 {
  font-weight: 600;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  width: 100%;
  background: #FE9516;
  color: white;
}
.category h4 i {
  float: right;
  font-size: 20px;
}
.category ul {
  padding: 15px;
  padding-bottom: 0;
  height: auto;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.category ul.active {
  height: auto;
}
.category ul li {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.category ul li:last-child {
  margin-bottom: 0px;
}
.category ul li a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #585858;
}
.category ul li a:hover {
  color: #FE9516;
}
.category h5 {
  padding: 10px 15px;
  color: #FE9516;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.category h5:hover {
  color: #1A84D7;
}
.category h5 i {
  margin-left: 15px;
}

.category-banner {
  margin: 50px 0;
}
.category-banner .owl-theme .owl-nav button.owl-prev,
.category-banner .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 24px;
  background: #e1e1e1;
}
.category-banner .owl-theme .owl-nav button.owl-prev:hover,
.category-banner .owl-theme .owl-nav button.owl-next:hover {
  background: #1A84D7;
  color: white;
}
.category-banner .owl-theme .owl-nav button.owl-prev:focus,
.category-banner .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.category-banner .owl-theme .owl-nav button.owl-prev {
  left: -20px;
}
.category-banner .owl-theme .owl-nav button.owl-next {
  right: -20px;
}
.category-banner .box-category-banner {
  background: #BFE3FF;
  position: relative;
  height: 300px;
}
.category-banner .box-category-banner img {
  position: absolute;
  right: 10px;
  width: 40%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.category-banner .box-category-banner-detail {
  width: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
}
.category-banner .box-category-banner-detail h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.category-banner .box-category-banner-detail h5 {
  margin-bottom: 20px;
}
.category-banner .box-category-banner-detail a {
  padding: 10px 20px;
  background: #FE9516;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.category-banner .box-category-banner-detail a:hover {
  background: #1A84D7;
}

.main-home .container {
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-gap: 30px;
}
.main-home .title-left {
  padding: 10px;
  background: #f4f4f4;
}
.main-home .title-left h5 {
  text-transform: uppercase;
  font-weight: 500;
}
.main-home .service-top {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}
.main-home .service-top .box-service-top {
  padding: 30px 15px;
  padding-bottom: 0;
  text-align: center;
}
.main-home .service-top .box-service-top img {
  width: 80px;
  margin: auto;
  margin-bottom: 20px;
}
.main-home .service-top .box-service-top h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.main-home .service-top .box-service-top h5 {
  color: #585858;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-home .service-top .owl-theme .owl-nav {
  margin-top: 20px;
  margin-bottom: 30px;
}
.main-home .service-top .owl-theme .owl-nav button {
  background: #e1e1e1;
  font-size: 24px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-home .service-top .owl-theme .owl-nav button:hover {
  background: #1A84D7;
}
.main-home .seller {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}
.main-home .service {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}
.main-home .service .box-service {
  padding: 15px;
}
.main-home .service .owl-theme .owl-nav {
  margin-top: 5px;
  margin-bottom: 30px;
}
.main-home .service .owl-theme .owl-nav button {
  background: #e1e1e1;
  font-size: 24px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-home .service .owl-theme .owl-nav button:hover {
  background: #1A84D7;
}
.main-home .banner-left {
  margin-bottom: 30px;
}
.main-home .banner-left img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-home .banner-left img:hover {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}
.main-home .title-page {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}
.main-home .title-page h3 a {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 3px solid #FE9516;
  cursor: default;
  position: relative;
}
.main-home .title-page h3 a::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(135deg);
  transform: translateX(-50%) rotate(135deg);
  bottom: -8px;
  border-left: 15px solid transparent;
  border-top: 15px solid #FE9516;
}
.main-home .product {
  position: relative;
  margin-bottom: 30px;
}
.main-home .product .owl-theme .owl-nav {
  position: absolute;
  top: -90px;
  right: 0;
}
.main-home .product .owl-theme .owl-nav button {
  background: #e1e1e1;
  font-size: 24px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-home .product .owl-theme .owl-nav button:hover {
  background: #1A84D7;
}
.main-home .contact-us {
  width: 100%;
  padding: 30px 15px;
  font-size: 1.4em;
  font-weight: bold;
  background: #1A84D7;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}
.main-home .contact-us span {
  color: #FE9516;
}
.main-home .partner {
  margin-bottom: 50px;
}

.box-seller {
  padding: 15px 0;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}
.box-seller-img {
  width: 80px;
  margin-right: 10px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.box-seller-img:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}
.box-seller-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-seller-detail {
  width: calc(100% - 100px);
}
.box-seller-detail h6 {
  color: #585858;
  margin-bottom: 5px;
}
.box-seller-detail h5 a {
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.box-seller-detail h5 a:hover {
  color: #1A84D7;
}

.box-service-img {
  overflow: hidden;
  margin-bottom: 15px;
}
.box-service-img:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.box-service-img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-service-detail h4 {
  margin-bottom: 5px;
}
.box-service-detail h4 a {
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-service-detail h4 a:hover {
  color: #1A84D7;
}
.box-service-detail h5 {
  color: #585858;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.box-product {
  border: 1px solid transparent;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.box-product:hover {
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.box-product:hover .box-product-img-custom {
  opacity: 1;
}
.box-product span {
  background: #1A84D7;
  color: white;
  font-size: 14px;
  padding: 5px 15px;
  position: absolute;
  left: -10px;
  top: 10px;
  z-index: 1;
}
.box-product span::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  border-left: 10px solid transparent;
  border-top: 10px solid #1163a2;
}
.box-product-img {
  position: relative;
  height: 255px;
  overflow: hidden;
  margin-bottom: 15px;
}
.box-product-img:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}
.box-product-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-product-img-custom {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.box-product-img-custom i {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px 9px;
  background: #e1e1e1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-product-img-custom i:hover {
  background: #1A84D7;
  color: white;
}
.box-product-detail {
  text-align: center;
  margin-bottom: 15px;
}
.box-product-detail h6 {
  color: #555555;
  margin-bottom: 5px;
}
.box-product-detail h5 a {
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-product-detail h5 a:hover {
  color: #1A84D7;
}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
    font-size: calc(9px + 0.4vmax);
  }

  .header-bottom {
    position: relative;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header-bottom .container {
    grid-template-columns: 55% calc(45% - 55px);
    position: relative;
  }

  .toggleMenu {
    display: block;
    position: absolute;
    right: 15px;
    top: -14px;
    margin: 15px 0;
    z-index: 10;
    color: white;
    border-radius: 3px;
    background: #1A84D7;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .toggleMenu i {
    font-size: 20px;
  }

  .menu {
    height: auto;
    background: white;
    position: fixed;
    top: 0;
  }
  .menu .main-menu {
    border: 0;
    position: absolute;
    left: -15px;
    top: 0;
    width: 100%;
  }
  .menu .main-menu .nav {
    display: block;
    text-align: left;
    background: black;
    position: absolute;
    width: 300px;
    transform: translate(-300px, 0);
    margin-top: -2px;
    transition: 0.3s;
    height: 100vh;
    opacity: 0;
    padding-top: 30px;
    left: 15px;
    z-index: 1010;
    color: white;
    overflow: scroll;
  }
  .menu .main-menu .nav.out {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu .main-menu .nav li {
    display: block;
    padding: 20px 30px;
  }
  .menu .main-menu .nav li:first-child {
    margin-top: 30px;
  }
  .menu .main-menu .nav li a {
    line-height: 1.5;
    padding: 0;
    padding-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
  }
  .menu .main-menu .nav li a:hover {
    background: none;
  }
  .menu .main-menu .nav li .active {
    background: none;
    color: #1A84D7;
  }
  .menu .main-menu .nav li .menu-down {
    width: 300px;
    top: 50px;
    transform: translateX(-300px);
    padding-top: 0;
  }
  .menu .main-menu .nav li .menu-down:hover::before {
    display: none;
  }
  .menu .main-menu .nav li .menu-down::before {
    content: "Trở lại";
    font-size: 12px;
    position: absolute;
    top: -33px;
    left: 15px;
  }
  .menu .main-menu .nav li .menu-down ul li {
    width: 100%;
  }
  .menu .main-menu .nav li .menu-down ul li:first-child {
    margin-top: 20px;
  }
  .menu .main-menu .nav li .menu-down ul li a {
    text-transform: initial;
  }

  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 10px;
    right: 10px;
    color: white;
  }

  .article-top .category ul {
    height: 260px;
  }

  .category-banner .box-category-banner {
    height: 23vw;
  }
  .category-banner .box-category-banner-detail h2 {
    font-size: 2vmax;
  }

  .box-product-img-custom {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .header-bottom .cart a {
    padding: 12px;
    padding-right: 16px;
    padding-left: 8px;
  }
  .header-bottom .cart a i {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .product-page .container {
    display: block;
    position: relative;
  }

  .header-bottom {
    height: 60px;
    padding: 0;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header-bottom .container {
    display: block;
  }
  .header-bottom .cart {
    position: absolute;
    right: 60px;
  }
  .header-bottom .cart a {
    padding: 0;
    background: none;
    color: black;
  }
  .header-bottom .cart a i {
    font-size: 26px;
  }
  .header-bottom .cart a span {
    margin-left: -10px;
  }
  .header-bottom .search {
    position: absolute;
    width: 100%;
    bottom: -100px;
    left: 0;
    z-index: 10;
    transition: 0.3s;
    transform: translateY(-50%) scaleY(0);
  }
  .header-bottom .search.active {
    transform: none;
  }

  .toggleMenu {
    display: block;
    position: absolute;
    right: 15px;
    top: 9px;
    margin: 0;
    z-index: 10;
    color: black;
    border-radius: 0;
    background: none;
    width: auto;
    height: auto;
    text-align: center;
    line-height: auto;
  }
  .toggleMenu i {
    font-size: 26px;
  }

  .search-btn {
    display: block;
    position: absolute;
    right: 100px;
    top: 9px;
    margin: 0;
    z-index: 10;
    color: black;
    border-radius: 0;
    background: none;
    width: auto;
    height: auto;
    text-align: center;
    line-height: auto;
  }
  .search-btn i {
    font-size: 26px;
  }

  .article-top .container {
    display: block;
    position: relative;
  }
  .article-top .category {
    position: absolute;
    top: -80px;
    width: 250px;
    left: 15px;
    z-index: 10;
  }
  .article-top .category h4 {
    height: 40px;
    line-height: 40px;
  }
  .article-top .category ul {
    height: 0;
    transition: 0.3s;
    padding: 0 15px;
    max-height: 100vh;
    overflow: scroll;
  }
  .article-top .category ul.down {
    height: auto;
    padding: 15px;
  }
  .article-top .category h5 {
    display: none;
  }

  .product-page .left .category {
    position: absolute;
    top: -114px;
    width: 250px;
    left: 15px;
    z-index: 10;
  }
  .product-page .left .category h4 {
    height: 40px;
    line-height: 40px;
  }
  .product-page .left .category ul {
    height: 0;
    transition: 0.3s;
    padding: 0 15px;
    max-height: 100vh;
    overflow: scroll;
  }
  .product-page .left .category ul.down {
    height: auto;
    padding: 15px;
  }
  .product-page .left .category h5 {
    display: none;
  }

  .main-home .container {
    display: flex;
    flex-direction: column;
  }
  .main-home .right {
    order: -1;
  }
  .main-home .banner-left, .main-home .service-top {
    display: none;
  }
  .main-home .seller, .main-home .service {
    display: inline-block;
    width: calc(50% - 15px);
  }
  .main-home .seller {
    margin-right: 30px;
  }
  .main-home .left {
    display: flex;
  }

  .box-product-img {
    height: 190px;
  }

  .product-page .left .seller {
    display: none;
  }
}
@media (max-width: 767px) {
  .product-page .main-zone {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .cart-page-product-1 img {
    float: none;
    margin-bottom: 10px;
  }

  .category-banner .box-category-banner {
    height: 50vw;
  }

  .box-product-img {
    height: 190px;
  }
}
@media (max-width: 575px) {
  .footer h4 {
    border-bottom: 0;
  }
  .footer h4 i {
    display: block;
  }
  .footer ul {
    transition: 0.3s;
    display: none;
    margin-top: -10px;
  }
  .footer ul.active {
    height: 100%;
    display: block;
  }

  .header-top {
    position: fixed;
    background: none;
    top: 5px;
    z-index: 1000;
  }
  .header-top ul li a {
    color: #1A84D7;
  }

  .header-bottom {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: white;
    right: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .article-top, .product-page .left {
    padding: 0;
  }
  .article-top .category, .product-page .left .category {
    top: 0;
    z-index: 1000;
    width: 300px;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: 0.3s;
    position: fixed;
    overflow: scroll;
  }
  .article-top .category.active, .product-page .left .category.active {
    transform: none;
  }
  .article-top .category h4, .product-page .left .category h4 {
    height: 50px;
    line-height: 50px;
  }
  .article-top .category ul, .product-page .left .category ul {
    height: auto;
    transform: none;
    padding: 15px;
  }
  .article-top .category ul li, .product-page .left .category ul li {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .category {
    top: 0;
    z-index: 1000;
    width: 300px;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: 0.3s;
    position: fixed;
    overflow: scroll;
  }
  .category.active {
    transform: none;
  }
  .category h4 {
    height: 50px;
    line-height: 50px;
  }
  .category ul {
    height: auto;
    transform: none;
    padding: 15px;
  }
  .category ul li {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .category-btn {
    color: #FE9516 !important;
  }

  article {
    padding-top: 60px;
  }

  .main-home .title-page h3 a {
    font-size: 15px;
  }

  .box-product {
    padding: 0;
  }
  .box-product span {
    font-size: 10px;
    padding: 3px 7px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
  }
  .box-product span:after {
    content: none;
  }
  .box-product:hover {
    border: 0;
    box-shadow: none;
  }
  .box-product-img {
    height: calc((100vw / 2) - 45px);
  }
  .box-product-img-custom {
    display: none;
  }

  .main-home .product {
    margin-bottom: 0;
  }
  .main-home .contact-us, .main-home .partner {
    margin-bottom: 30px;
  }
  .main-home .left {
    flex-direction: column;
  }
  .main-home .banner-left, .main-home .service-top {
    display: block;
    text-align: center;
  }
  .main-home .service, .main-home .seller {
    width: 100%;
  }
  .main-home .seller {
    margin-right: 30px;
  }

  .product-page .box-product-img {
    height: calc((100vw / 2) - 25px);
  }

  .service-page .category, .page-detail .category, .cart-page .category, .pay-page .category, .contact-page .category {
    display: block;
  }
}
@media (max-width: 450px) {
  .product-page .main .product-detail-1-img .xzoom-thumbs img {
    height: 55px;
  }

  .slider .owl-theme .owl-dots {
    display: none;
  }
}

/*# sourceMappingURL=layout.css.map */
