$main_color: #1A84D7;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

// ------------------



@media (max-width: 1200px) {
  body {
    margin-left: 15px;
    font-size: calc(9px + 0.4vmax);
  }

  .header-bottom {
    position: relative;
    background: white;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

    .container {
      grid-template-columns: 55% calc(45% - 55px);
      position: relative;
    }
  }

  .toggleMenu {
    display: block;
    position: absolute;
    right: 15px;
    top: -14px;
    margin: 15px 0;
    z-index: 10;
    color: white;
    border-radius: 3px;
    background: $main_color;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    
    i {
      font-size: 20px;
    }
  }


  .menu {
    height: auto;
    background: white;
    position: fixed;
    top: 0;

    .main-menu {
      border: 0;
      position: absolute;
      left: -15px;
      top: 0;
      width: 100%;
      .nav {
        display: block;
        text-align: left;
        background: black;
        position: absolute;
        width: 300px;
        transform: translate(-300px, 0);
        margin-top: -2px;
        transition: .3s;
        height: 100vh;
        opacity: 0;
        padding-top: 30px;
        left: 15px;
        z-index: 1010;
        color: white;
        overflow: scroll;

        &.out {
          transform: translate(0, 0);
          opacity: 1;
        }

        li {
          display: block;
          padding: 20px 30px;

          &:first-child {
            margin-top: 30px;
          }

          a {
            line-height: 1.5;
            padding: 0;
            padding-bottom: 5px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 15px;

            &:hover {
              background: none;
            }
          }

          .active {
            background: none;
            color: $main_color;
          }

          .menu-down{ 
            width: 300px;
            top: 50px;
            transform: translateX(-300px);
            padding-top: 0;

            &:hover::before {
              display: none;
            }
  
            &::before {
              content: "Trở lại";
              font-size: 12px;
              position: absolute;
              top: -33px;
              left: 15px;
            }

            ul li {
              width: 100%;

              &:first-child {
                margin-top: 20px;
              }
              
              a {
                text-transform: initial;
              }
            }
          }
        }
      }
    }
  }
    
  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 10px;
    right: 10px;
    color: white;
  }

  .article-top .category ul {
    height: 260px;
  }
  
  .category-banner {
    .box-category-banner {
      height: 23vw;

      &-detail {
        h2 {
          font-size: 2vmax;
        }
      }
    }
  }

  .box-product-img-custom {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .header-bottom .cart a {
    padding: 12px;
    padding-right: 16px;
    padding-left: 8px;

    i {
      padding: 0;
      margin: 0;
      border: 0; 
    }
  }

  .product-page {
    .container {
      display: block;
      position: relative;
    }
  }

  .header-bottom {
    height: 60px;
    padding: 0;
    background: white;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

    .container {
      display: block;
    }

    .cart {
      position: absolute;
      right: 60px;

      a {
        padding: 0;
        background: none;
        color: black;

        i {
          font-size: 26px;
        }
        
        span {
          margin-left: -10px;
        }
      }

    }

    .search {
      position: absolute;
      width: 100%;
      bottom: -100px;
      left: 0;
      z-index: 10;
      transition: .3s;
      transform: translateY(-50%) scaleY(0);

      &.active {
        transform: none;
      }
    }
  }

  .toggleMenu {
    display: block;
    position: absolute;
    right: 15px;
    top: 9px;
    margin: 0;
    z-index: 10;
    color: black;
    border-radius: 0;
    background: none;
    width: auto;
    height: auto;
    text-align: center;
    line-height: auto;
    
    i {
      font-size: 26px;
    }
  }

  .search-btn {
    display: block;
    position: absolute;
    right: 100px;
    top: 9px;
    margin: 0;
    z-index: 10;
    color: black;
    border-radius: 0;
    background: none;
    width: auto;
    height: auto;
    text-align: center;
    line-height: auto;
    
    i {
      font-size: 26px;
    }
  }

  .article-top {
    .container {
      display: block;
      position: relative;
    }

    .category {
      position: absolute;
      top: -80px;
      width: 250px;
      left: 15px;
      z-index: 10;
  
      h4 {
        height: 40px;
        line-height: 40px;
      }

      ul {
        height: 0;
        transition: .3s;
        padding: 0 15px;
        max-height: 100vh;
        overflow: scroll;

        &.down {
          height: auto;
          padding: 15px;
        }
      }

      h5 {
        display: none;
      }
    }
  }

  .product-page .left {

    .category {
      position: absolute;
      top: -114px;
      width: 250px;
      left: 15px;
      z-index: 10;
  
      h4 {
        height: 40px;
        line-height: 40px;
      }

      ul {
        height: 0;
        transition: .3s;
        padding: 0 15px;
        max-height: 100vh;
        overflow: scroll;

        &.down {
          height: auto;
          padding: 15px;
        }
      }

      h5 {
        display: none;
      }
    }
  }

  .main-home {

    .container {
      display: flex;
      flex-direction: column;
    }

    .right {
      order: -1;
    }

    .banner-left, .service-top {
      display: none;
    }

    .seller, .service {
      display: inline-block;
      width: calc(50% - 15px);
    }

    .seller {
      margin-right: 30px;
    }

    .left {
      display: flex;
    }
  }

  .box-product-img {
    height: 190px;
  }

  .product-page .left .seller {
    display: none;
  }

}

@media (max-width: 767px) {
  .product-page {
    .main-zone {
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }

  .cart-page-product-1 img {
    float: none;
    margin-bottom: 10px;
  }

  .category-banner .box-category-banner {
    height: 50vw;
  }

  .box-product-img {
    height: 190px;
  }
}

@media (max-width: 575px) {
  .footer {
    h4 {
      border-bottom: 0;

      i {
        display: block;
      }
    }

    ul {
      transition: .3s;
      display: none;
      margin-top: -10px;

      &.active {
        height: 100%;
        display: block;
      }
    }
  }

  .header-top {
    position: fixed;
    background: none;
    top: 5px; 
    z-index: 1000;
    
    ul li a {
      color: $main_color;
    }
  }

  .header-bottom {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: white;
    right: 15px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
  }

  .article-top, .product-page .left {
    padding: 0;

    .category {
      top: 0;
      z-index: 1000;
      width: 300px;
      left: 0;
      height: 100vh;
      transform: translateX(-100%);
      transition: .3s;
      position: fixed;
      overflow: scroll;
      
      &.active {
        transform: none;
      }

      h4 {
        height: 50px;
        line-height: 50px;
      }

      ul {
        height: auto;
        transform: none;
        padding: 15px;

        li {
          padding-bottom: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .category {
    top: 0;
    z-index: 1000;
    width: 300px;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: .3s;
    position: fixed;
    overflow: scroll;
    
    &.active {
      transform: none;
    }

    h4 {
      height: 50px;
      line-height: 50px;
    }

    ul {
      height: auto;
      transform: none;
      padding: 15px;

      li {
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }

  .category-btn {
    color: #FE9516!important;
  }

  article {
    padding-top: 60px;
  }

  .main-home .title-page h3 a {
    font-size: 15px;
  }

  .box-product {
    padding: 0;

    span {
      font-size: 10px;
      padding: 3px 7px;
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 1;

      &:after {
        content: none;
      }
    }

    &:hover {
      border: 0;
      box-shadow: none;
    }

    &-img {
      height: calc((100vw / 2) - 45px);
  
      &-custom {
        display: none;
      }
    }
  }

  .main-home { 
    .product {
      margin-bottom: 0;
    }

    .contact-us, .partner {
      margin-bottom: 30px;
    }

    .left {
      flex-direction: column;
    }

    .banner-left, .service-top {
      display: block;
      text-align: center;
    }

    .service, .seller {
      width: 100%;
    }

    .seller {
      margin-right: 30px;
    }
  }

  .product-page .box-product-img {
    height: calc((100vw / 2) - 25px)
  }

  
  .service-page, .page-detail, .cart-page, .pay-page, .contact-page {
    .category {
      display: block;
    }
  }
}

@media (max-width: 450px) {
  .product-page .main .product-detail-1-img .xzoom-thumbs img {
    height: 55px;
  }

  .slider {
    .owl-theme .owl-dots {
      display: none;
    }
  }
}
