@import 'default';
$main_color: #1A84D7;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

// end default css -----------------------------------------------------



.header-top {
  background: #f4f4f4;
  
  h5 {
    padding: 12px 0;
  }

  ul li {
    margin-left: 40px;
    display: inline-block;
    padding: 12px 0;

    &:first-child {
      margin-left: 0;
    }
    
    a {
      font-size: 16px;
      font-weight: 600;
      transition: .3s;

      &:hover {
        color: $main_color;
      }

      i {
        padding-right: 10px;
        color: $main_color;
      }
    }
  }
}

.header-bottom {
  padding: 30px 0;

  .container {
    display: grid;
    grid-template-columns: 400px calc(100% - 600px) 200px;
  }

  .logo {
    height: 40px;
  }

  .search {
    form {
      position: relative;
    }

    input {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      background: #f4f4f4;
      padding-left: 10px;

      &:focus {
        border-color: #FE9516;
        outline: none;
        box-shadow: none;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      color: white;
      background: #FE9516;
      text-align: center;
      line-height: 40px;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      i {
        font-size: 16px;
      }
    }

    select {
      position: absolute;
      right: 40px;
      height: 40px;
      width: 150px;
      background: #f4f4f4;
      border: 1px solid #e1e1e1;
      top: 0;
      color: #585858;
      padding: 0 10px;

      &:focus {
        border-color: #FE9516;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .cart {
    margin-top: 8px;
    text-align: right;

    a {
      padding: 12px;
      padding-right: 30px;
      background: #FE9516;
      text-transform: uppercase;
      color: white;
      font-weight: 500;
      border-radius: 5px;
      
      i {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid white;
        font-size: 16px;
      }

      span {
        background: $main_color;
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        font-size: 10px;
        color: white;
        position: absolute;
        border-radius: 50%;
        margin-left: -5px;
      }
    }
  }
}

.menu {
  z-index: 1000;
  background: $main_color;
  position: relative;
  height: 60px;
  
  &.down {
    position: fixed;
    width: 100%;
    top: 0;
    right: 15px;
  }

  .main-menu {
    position: relative;

    .toggleMenu {
      cursor: pointer;
      display: none;
      color: black;
      margin: 10px 0;
      z-index: 10000;
      transition: 500ms;

      i {
        font-size: 26px;
      }
    }

    .nav {
      display: block;
      text-align: center;

      li {
        transition: .5s;
        display: inline-block;
        padding: 20px 0;

        .active {
          background: #FE9516;
        }

        a {
          font-weight: 600;
          font-size: 14px;
          transition: .3s;
          color: white;
          padding: 0;
          display: initial;
          padding: 22px 17px;
          text-transform: uppercase;

          &:hover {
            background: #FE9516;
          }
        }

      }
    }

  }

}

.article-top {
  background: #f4f4f4;
  padding: 30px 0;
  position: relative;

  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .category {
    background: white;
    border: 1px solid #FE9516;
    position: relative;

    h4 {
      font-weight: 600;
      text-transform: uppercase;
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      width: 100%;
      background: #FE9516;
      color: white;

      i {
        float: right;
        font-size: 20px;
      }
    }

    ul {
      padding: 15px;
      padding-bottom: 0;
      height: 350px;
      overflow: hidden;
      transition: all ease .3s;

      &.active {
        height: auto;
      }

      li {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;

        &:last-child {
          margin-bottom: 0px;
        }

        a {
          @include o1;
          transition: .3s;
          color: #585858;

          &:hover {
            color: #FE9516;
          }
        }
      }
    }

    h5 {
      padding: 10px 15px;
      color: #FE9516;
      cursor: pointer;
      font-weight: 500;
      font-size: 15px;
      transition: .3s;

      &:hover {
        color: $main_color;
      }
      
      i {
        margin-left: 15px;
      }
    }
  }
}

.slider {
  position: relative;

  .owl-theme .owl-dots {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    margin-top: 0;

    .owl-dot {
      display: block;

      &.active {
        span {
          background: $main_color;
        }
      }

      span {
        width: 30px;
        height: 30px;
        margin: 5px 0;
        display: block;
        background: black;
        border-radius: 0;
        position: relative;
        color: white;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}

.product-page {
  margin-bottom: 40px;

  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .left {
    margin-bottom: 50px;

    h4 {
      background: $main_color;
      text-transform: uppercase;
      padding: 15px 0;
      text-align: center;
      width: 100%;
      color: white;
      font-weight: 600;
    }

    ul {
      padding: 20px;
      border: 1px solid $main_color;

      li {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid #e1e1e1;

        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
        }

        a {
          @include o1;
          transition: .3s;

          &:hover {
            color: $main_color;
          }
        }
      }
    }
  }

  .main {
    .title-page {
      h1 {
        letter-spacing: 0;
      }
    }

    &-zone {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-bottom: 40px;
    }

    .product-detail {
      &-1 {
        &-img {
          .xzoom-thumbs {
            margin-top: 10px;
            margin-bottom: 30px;
            padding: 0 25px;
            position: relative;

            img {
              width: auto;
              height: 80px;
            }
  
            .xzoom-gallery {
              &:hover {
                border-color: $main-color;
              }
            }
  
            .xactive {
              border-color: $main-color;
              box-shadow: 0px 0px 3px 0px $main-color;
            }
  
            .owl-theme .owl-nav {
  
              button.owl-prev,
              button.owl-next {
                position: absolute;
                top: 40%;
                font-size: 30px;
                transition: .5s;
                transform: translateY(-50%);
  
                &:hover,
                &:focus {
                  color: $main-color;
                  background: none;
                  outline: none;
                }
              }
  
              button.owl-prev {
                left: -12%
              }
  
              button.owl-next {
                right: -12%
              }
            }
          }
        }
  
        &-detail {
          color: #585858;
          margin-bottom: 30px;
  
          h2 {
            font-weight: bold;
            margin-bottom: 5px;
            color: black;
          }

          p {
            color: #585858;
            margin-bottom: 10px;
          }
  
          h4 {
            color: $main-color;
            font-weight: bold;
            margin-bottom: 20px;
  
            span {
              color: #585858;
              font-weight: 400;
              text-decoration: line-through;
              margin-left: 30px;
            }
          }
  
          h5 {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #e1e1e1;
          }
  
          .quantity {
            a {
              margin: 0 10px;
              transition: .5s;
  
              &:hover {
                color: $main-color;
              }
            }
  
            input {
              width: 40px;
              height: 40px;
              text-align: center;
              border: 1px solid #959595;
              background: none;
              color: #585858;
              outline-color: $main-color;
              border-radius: 3px;
              margin-bottom: 10px;
              margin-left: 5px;
            }
  
            button {
              font-size: 14px;
              cursor: pointer;
              transition: .2s;
              background: black;
              border: 0;
              width: 20px;
              height: 20px;
              border-radius: 3px;
              color: white;
              line-height: 19px;
  
              &:hover {
                background: $main_color;
              }
            }
  
            button.custom-cart {
              background: $main-color;
              color: white;
              height: 40px;
              width: 130px;
              padding: 0 10px;
              text-transform: uppercase;
              font-weight: bold;
              border-radius: 3px;
              cursor: pointer;
              transition: .5s;
              border: 2px solid $main-color;
              margin-left: 5px;
  
              &:hover,
              &:focus {
                background: none;
                color: $main-color;
                box-shadow: none;
                outline: none;
              }

            }
          }
        }
      }
  
      &-2 {
        &-title {
          .nav-tabs {
            border-bottom: 2px solid #383838;
            margin-bottom: 30px;
  
            .nav-item {
              margin-bottom: -2px;
  
              .nav-link {
                padding-bottom: 11px;
                border: none;
                border-bottom: 2px solid #383838;
                transition: .5s;
                font-weight: bold;
  
                &.active,
                &:hover {
                  background: none;
                  border: none;
                  border-bottom: 2px solid $main-color;
                  padding-bottom: 11px;
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }

    .similar {
      h2 {
        padding-top: 20px;
        margin-top: 40px;
        border-top: 2px solid #555555;
        text-align: center;
      }
    }
  }
}

.service-page {
  margin-bottom: 40px;
}

.page-detail {
  margin-bottom: 40px;

  img {
    margin-bottom: 20px;
  }

  .similar {
    margin-top: 50px;
  }
}

.category-banner {
  padding-top: 100px;

  .box-category-banner {
    background: #BFE3FF;
    position: relative;
    height: 300px;

    img {
      position: absolute;
      right: 0;
      width: 300px;
      top: -50px;
    }
  }
}



// --------------------------------------------------------------------
@import 'media';
