@import 'default';
$main_color: #1A84D7;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

// end default css -----------------------------------------------------



.header-top {
  background: #f4f4f4;
  
  h5 {
    padding: 12px 0;
  }

  ul li {
    margin-left: 40px;
    display: inline-block;
    padding: 12px 0;

    &:first-child {
      margin-left: 0;
    }
    
    a {
      font-size: 16px;
      font-weight: 600;
      -webkit-transition: .3s;
      transition: .3s;

      &:hover {
        color: $main_color;
      }

      i {
        padding-right: 10px;
        color: $main_color;
      }
    }
  }
}

.header-bottom {
  padding: 30px 0;

  .container {
    display: grid;
    grid-template-columns: 400px calc(100% - 600px) 200px;
  }

  .logo {
    height: 40px;
  }

  .search {
    form {
      position: relative;
    }

    input {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      background: #f4f4f4;
      padding-left: 10px;

      &:focus {
        border-color: #FE9516;
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      color: white;
      background: #FE9516;
      text-align: center;
      line-height: 40px;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      i {
        font-size: 16px;
      }
    }

    select {
      position: absolute;
      right: 40px;
      height: 40px;
      width: 150px;
      background: #f4f4f4;
      border: 1px solid #e1e1e1;
      top: 0;
      color: #585858;
      padding: 0 10px;

      &:focus {
        border-color: #FE9516;
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
    }
  }

  .cart {
    margin-top: 8px;
    text-align: right;

    a {
      padding: 12px;
      padding-right: 30px;
      background: #FE9516;
      text-transform: uppercase;
      color: white;
      font-weight: 500;
      border-radius: 5px;
      
      i {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid white;
        font-size: 16px;
      }

      span {
        background: $main_color;
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        font-size: 10px;
        color: white;
        position: absolute;
        border-radius: 50%;
        margin-left: -5px;
      }
    }
  }
}

.menu {
  z-index: 1000;
  background: $main_color;
  position: relative;
  height: 60px;
  
  &.down {
    position: fixed;
    width: 100%;
    top: 0;
    right: 15px;
  }

  .main-menu {
    position: relative;

    .toggleMenu {
      cursor: pointer;
      display: none;
      color: black;
      margin: 10px 0;
      z-index: 10000;
      -webkit-transition: 500ms;
      transition: 500ms;

      i {
        font-size: 26px;
      }
    }

    .nav {
      display: block;
      text-align: center;

      li {
        -webkit-transition: .5s;
        transition: .5s;
        display: inline-block;
        padding: 20px 0;

        .active {
          background: #FE9516;
        }

        a {
          font-weight: 600;
          font-size: 14px;
          -webkit-transition: .3s;
          transition: .3s;
          color: white;
          padding: 0;
          display: initial;
          padding: 22px 17px;
          text-transform: uppercase;

          &:hover {
            background: #FE9516;
          }
        }

      }
    }

  }

}

.title-page {
  margin-bottom: 30px;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.article-top {
  background: #f4f4f4;
  padding: 30px 0;
  position: relative;

  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .category {
    background: white;
    border: 1px solid #FE9516;
    position: relative;

    h4 {
      font-weight: 600;
      text-transform: uppercase;
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      width: 100%;
      background: #FE9516;
      color: white;

      i {
        float: right;
        font-size: 20px;
      }
    }

    ul {
      padding: 15px;
      padding-bottom: 0;
      height: 350px;
      overflow: hidden;
      -webkit-transition: all ease .3s;
      transition: all ease .3s;

      &.active {
        height: auto;
      }

      li {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;

        &:last-child {
          margin-bottom: 0px;
        }

        a {
          @include o1;
          -webkit-transition: .3s;
          transition: .3s;
          color: #585858;

          &:hover {
            color: #FE9516;
          }
        }
      }
    }

    h5 {
      padding: 10px 15px;
      color: #FE9516;
      cursor: pointer;
      font-weight: 500;
      font-size: 15px;
      -webkit-transition: .3s;
      transition: .3s;

      &:hover {
        color: $main_color;
      }
      
      i {
        margin-left: 15px;
      }
    }
  }
}

.slider {
  position: relative;

  .owl-theme .owl-dots {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: 0;

    .owl-dot {
      display: block;

      &.active {
        span {
          background: $main_color;
        }
      }

      span {
        width: 30px;
        height: 30px;
        margin: 5px 0;
        display: block;
        background: black;
        border-radius: 0;
        position: relative;
        color: white;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}

.product-page {
  margin-bottom: 10px;

  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .left {
    .category {
      background: white;
      border: 1px solid #FE9516;
      position: relative;
      margin-bottom: 30px;
  
      h4 {
        font-weight: 600;
        text-transform: uppercase;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        width: 100%;
        background: #FE9516;
        color: white;
  
        i {
          float: right;
          font-size: 20px;
        }
      }
  
      ul {
        padding: 15px;
        padding-bottom: 0;
        height: auto;
        overflow: hidden;
        -webkit-transition: all ease .3s;
        transition: all ease .3s;
  
        &.active {
          height: auto;
        }
  
        li {
          display: block;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #e1e1e1;
  
          &:last-child {
            margin-bottom: 0px;
          }
  
          a {
            @include o1;
            -webkit-transition: .3s;
            transition: .3s;
            color: #585858;
  
            &:hover {
              color: #FE9516;
            }
          }
        }
      }
  
      h5 {
        padding: 10px 15px;
        color: #FE9516;
        cursor: pointer;
        font-weight: 500;
        font-size: 15px;
        -webkit-transition: .3s;
        transition: .3s;
  
        &:hover {
          color: $main_color;
        }
        
        i {
          margin-left: 15px;
        }
      }
    }

    .seller {
      border: 1px solid #e1e1e1;
      margin-bottom: 30px;

      .title-left {
        background: #f4f4f4;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  .main {
    .title-page {
      h3 {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
    }

    &-zone {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-bottom: 20px;
    }

    .product-detail {
      &-1 {
        &-img {
          .xzoom-thumbs {
            margin-top: 10px;
            margin-bottom: 30px;
            padding: 0 25px;
            position: relative;

            img {
              width: auto;
              height: 80px;
            }
  
            .xzoom-gallery {
              &:hover {
                border-color: $main-color;
              }
            }
  
            .xactive {
              border-color: $main-color;
              -webkit-box-shadow: 0px 0px 3px 0px $main-color;
                      box-shadow: 0px 0px 3px 0px $main-color;
            }
  
            .owl-theme .owl-nav {
  
              button.owl-prev,
              button.owl-next {
                position: absolute;
                top: 40%;
                font-size: 30px;
                -webkit-transition: .5s;
                transition: .5s;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
  
                &:hover,
                &:focus {
                  color: $main-color;
                  background: none;
                  outline: none;
                }
              }
  
              button.owl-prev {
                left: -12%
              }
  
              button.owl-next {
                right: -12%
              }
            }
          }
        }
  
        &-detail {
          color: #585858;
          margin-bottom: 30px;
  
          h2 {
            font-weight: bold;
            margin-bottom: 5px;
            color: black;
          }

          p {
            color: #585858;
            margin-bottom: 10px;
          }
  
          h4 {
            color: $main-color;
            font-weight: bold;
            margin-bottom: 20px;
  
            span {
              color: #585858;
              font-weight: 400;
              text-decoration: line-through;
              margin-left: 30px;
            }
          }
  
          h5 {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #e1e1e1;
          }
  
          .quantity {
            a {
              margin: 0 10px;
              -webkit-transition: .5s;
              transition: .5s;
  
              &:hover {
                color: $main-color;
              }
            }
  
            input {
              width: 40px;
              height: 40px;
              text-align: center;
              border: 1px solid #959595;
              background: none;
              color: #585858;
              outline-color: $main-color;
              border-radius: 3px;
              margin-bottom: 10px;
              margin-left: 5px;
            }
  
            button {
              font-size: 14px;
              cursor: pointer;
              -webkit-transition: .2s;
              transition: .2s;
              background: black;
              border: 0;
              width: 20px;
              height: 20px;
              border-radius: 3px;
              color: white;
              line-height: 19px;
  
              &:hover {
                background: $main_color;
              }
            }
  
            button.custom-cart {
              background: $main-color;
              color: white;
              height: 40px;
              width: 130px;
              padding: 0 10px;
              text-transform: uppercase;
              font-weight: bold;
              border-radius: 3px;
              cursor: pointer;
              -webkit-transition: .5s;
              transition: .5s;
              border: 2px solid $main-color;
              margin-left: 5px;
  
              &:hover,
              &:focus {
                background: none;
                color: $main-color;
                -webkit-box-shadow: none;
                        box-shadow: none;
                outline: none;
              }

            }
          }
        }
      }
  
      &-2 {
        &-title {
          .nav-tabs {
            border-bottom: 2px solid #383838;
            margin-bottom: 30px;
  
            .nav-item {
              margin-bottom: -2px;
  
              .nav-link {
                padding-bottom: 11px;
                border: none;
                border-bottom: 2px solid #383838;
                -webkit-transition: .5s;
                transition: .5s;
                font-weight: bold;
  
                &.active,
                &:hover {
                  background: none;
                  border: none;
                  border-bottom: 2px solid $main-color;
                  padding-bottom: 11px;
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }

    .similar {
      h2 {
        padding-top: 20px;
        margin-top: 40px;
        border-top: 2px solid #555555;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
  }
}

.service-page {
  margin-bottom: 40px;

  .box-service {
    margin-bottom: 40px;
  }
}

.service-page, .page-detail, .cart-page, .pay-page, .contact-page {
  .category {
    display: none;
  }
}

.page-detail {
  margin-bottom: 40px;

  img {
    margin-bottom: 20px;
  }

  .similar {
    margin-top: 50px;
  }

  .box-service {
    margin-bottom: 40px;

    img {
      margin: 0;
    }
  }
}

.category {
  background: white;
  border: 1px solid #FE9516;
  position: relative;
  margin-bottom: 30px;

  h4 {
    font-weight: 600;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    width: 100%;
    background: #FE9516;
    color: white;

    i {
      float: right;
      font-size: 20px;
    }
  }

  ul {
    padding: 15px;
    padding-bottom: 0;
    height: auto;
    overflow: hidden;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;

    &.active {
      height: auto;
    }

    li {
      display: block;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e1e1e1;

      &:last-child {
        margin-bottom: 0px;
      }

      a {
        @include o1;
        -webkit-transition: .3s;
        transition: .3s;
        color: #585858;

        &:hover {
          color: #FE9516;
        }
      }
    }
  }

  h5 {
    padding: 10px 15px;
    color: #FE9516;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: .3s;
    transition: .3s;

    &:hover {
      color: $main_color;
    }
    
    i {
      margin-left: 15px;
    }
  }
}

.category-banner {
  margin: 50px 0;

  .owl-theme .owl-nav {
    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 20px;
      -webkit-transition: .3s;
      transition: .3s;
      color: black;
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 24px;
      background: #e1e1e1;

      &:hover {
        background: $main_color;
        color: white;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: -20px;
    }

    button.owl-next {
      right: -20px;
    }
  }

  .box-category-banner {
    background: #BFE3FF;
    position: relative;
    height: 300px;

    img {
      position: absolute;
      right: 10px;
      width: 40%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }

    &-detail {
      width: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 20px;

      h2 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      h5 {
        margin-bottom: 20px;
      }

      a {
        padding: 10px 20px;
        background: #FE9516;
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        -webkit-transition: .3s;
        transition: .3s;

        &:hover {
          background: $main_color;
        }
      }
    }
  }
}

.main-home {
  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .title-left {
    padding: 10px;
    background: #f4f4f4;

    h5 {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .service-top {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
    
    .box-service-top {
      padding: 30px 15px;
      padding-bottom: 0;
      text-align: center;

      img {
        width: 80px;
        margin: auto;
        margin-bottom: 20px;
      }

      h4 {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      h5 {
        color: #585858;
        @include o2;
      }
    }

    .owl-theme .owl-nav {
      margin-top: 20px;
      margin-bottom: 30px;

      button {
        background: #e1e1e1;
        font-size: 24px;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        -webkit-transition: .3s;
        transition: .3s;

        &:hover {
          background: $main_color;
        }
      }
    }
  }

  .seller {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
  }
    
  .service {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;

    .box-service {
      padding: 15px;
    }
    
    .owl-theme .owl-nav {
      margin-top: 5px;
      margin-bottom: 30px;

      button {
        background: #e1e1e1;
        font-size: 24px;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        -webkit-transition: .3s;
        transition: .3s;

        &:hover {
          background: $main_color;
        }
      }
    }
  }

  .banner-left {
    margin-bottom: 30px;

    img {
      -webkit-transition: .3s;
      transition: .3s;

      &:hover {
        -webkit-filter: brightness(.9);
                filter: brightness(.9);
      }
    }
  }

  .title-page {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;

    h3 a {
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 15px;
      border-bottom: 3px solid #FE9516;
      cursor: default;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) rotate(135deg);
                transform: translateX(-50%) rotate(135deg);
        bottom: -8px;
        border-left: 15px solid transparent;
        border-top: 15px solid #FE9516;
      }
    }
  }

  .product {
    position: relative;
    margin-bottom: 30px;

    .owl-theme .owl-nav {
      position: absolute;
      top: -90px;
      right: 0;

      button {
        background: #e1e1e1;
        font-size: 24px;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        -webkit-transition: .3s;
        transition: .3s;

        &:hover {
          background: $main_color;
        }
      }
    }
  }

  .contact-us {
    width: 100%;
    padding: 30px 15px;
    font-size: 1.4em;
    font-weight: bold;
    background: $main_color;
    color: white;
    text-align: center;
    margin-bottom: 50px;

    span {
      color: #FE9516;
    }
  }

  .partner {
    margin-bottom: 50px;
  }
}

.box-seller {
  padding: 15px 0;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e1e1e1;

  &-img {
    width: 80px;
    margin-right: 10px;
    height: 80px;
    position: relative;
    overflow: hidden;

    &:hover {
      img {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2);
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      -webkit-transition: .3s;
      transition: .3s;
    }
  }

  &-detail {
    width: calc(100% - 100px);

    h6 {
      color: #585858;
      margin-bottom: 5px;
    }

    h5 {
      a {
        font-weight: 500;
        -webkit-transition: .3s;
        transition: .3s;
        @include o2;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

.box-service {
  &-img {
    overflow: hidden;
    margin-bottom: 15px;

    &:hover {
      img {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
      }
    }

    img {
      -webkit-transition: .3s;
      transition: .3s;
    }
  }

  &-detail {
    h4 {
      margin-bottom: 5px;

      a {
        font-weight: 600;
        -webkit-transition: .3s;
        transition: .3s;
        @include o1;

        &:hover {
          color: $main_color;
        }
      }
    }

    h5 {
      color: #585858;
      @include o2;
    }
  }
}

.box-product {
  border: 1px solid transparent;
  padding: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;

  &:hover {
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 10px rgba($color: #000000, $alpha: .16);
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: .16);

    .box-product-img-custom {
      opacity: 1;
    }
  }

  span {
    background: $main_color;
    color: white;
    font-size: 14px;
    padding: 5px 15px;
    position: absolute;
    left: -10px;
    top: 10px;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -10px;
      border-left: 10px solid transparent;
      border-top: 10px solid #1163a2;
    }
  }

  &-img {
    position: relative;
    height: 255px;
    overflow: hidden;
    margin-bottom: 15px;

    &:hover {
      img {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2);
      }
    }
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      -webkit-transition: .3s;
      transition: .3s;
    }

    &-custom {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 10px;
      -webkit-transition: .3s;
      transition: .3s;
      opacity: 0;

      i {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        padding: 5px 9px;
        background: #e1e1e1;
        -webkit-transition: .3s;
        transition: .3s;

        &:hover {
          background: $main_color;
          color: white;
        }
      }
    }
  }

  &-detail {
    text-align: center;
    margin-bottom: 15px;

    h6 {
      color: #555555;
      margin-bottom: 5px;
    }

    h5 a {
      font-weight: 600;
      -webkit-transition: .3s;
      transition: .3s;
      @include o1;

      &:hover {
        color: $main_color;
      }
    }
  }
}


// --------------------------------------------------------------------
@import 'media';
