extends _inc

block article
  section.article-top
    .container
      .category
        h4
          | danh mục sản phẩm
          i.mdi.mdi-text.d-none.d-sm-block
          i.mdi.mdi-arrow-left.d-sm-none.d-block
        ul
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        
        h5.show-cate
          | Xem thêm danh mục
          i.mdi.mdi-chevron-down
        h5.hidden-cate.d-none
          | Ẩn bớt danh mục
          i.mdi.mdi-chevron-up
      
      .slider
        .owl-carousel.slider-carousel.owl-theme
          .item
            a(href='chi-tiet-san-pham.html')
              img(src='../img/slider-1.png')
          
          .item
            a(href='chi-tiet-san-pham.html')
              img(src='../img/slider-1.png')

  section.category-banner
    .container
      .owl-carousel.category-carousel.owl-theme
        .item
          .box-category-banner
            img(src='../img/cate-1.png')
            h2 MÁY VỆ SINH CÔNG NGHIỆP
            h5 875 sản phẩm
            a(href='san-pham.html') Xem ngay
        
        .item
          .box-category-banner
            img(src='../img/cate-2.png')
            h2 MÁY VỆ SINH CÔNG NGHIỆP
            h5 875 sản phẩm
            a(href='san-pham.html') Xem ngay
        
