extends _inc

block article
  section.article-top
    .container
      .category
        h4
          | danh mục sản phẩm
          i.mdi.mdi-text.d-none.d-sm-block
          i.mdi.mdi-arrow-left.d-sm-none.d-block
        ul
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        
        h5.show-cate
          | Xem thêm danh mục
          i.mdi.mdi-chevron-down
        h5.hidden-cate.d-none
          | Ẩn bớt danh mục
          i.mdi.mdi-chevron-up
      
      .slider
        .owl-carousel.slider-carousel.owl-theme
          .item
            a(href='chi-tiet-san-pham.html')
              img(src='../img/slider-1.png')
          
          .item
            a(href='chi-tiet-san-pham.html')
              img(src='../img/slider-1.png')

  section.category-banner
    .container
      .owl-carousel.category-carousel.owl-theme
        .item
          .box-category-banner
            img(src='../img/cate-1.png')
            .box-category-banner-detail
              h2 MÁY VỆ SINH CÔNG NGHIỆP
              h5 875 sản phẩm
              a(href='san-pham.html') Xem ngay
        
        .item
          .box-category-banner
            img(src='../img/cate-2.png')
            .box-category-banner-detail
              h2 DỊCH VỤ VỆ SINH CÔNG NGHIỆP
              h5 30 dịch vụ
              a(href='san-pham.html') Xem ngay
        
        .item
          .box-category-banner
            img(src='../img/cate-3.png')
            .box-category-banner-detail
              h2 HÓA CHẤT VỆ SINH
              h5 5 sản phẩm
              a(href='hoa-chat-cha-san.html') Xem ngay
        
        .item
          .box-category-banner
            img(src='../img/cate-4.png')
            .box-category-banner-detail
              h2 PHụ kiện máy móc
              h5 75 sản phẩm
              a(href='san-pham.html') Xem ngay
        
  section.main-home
    .container
      .left
        .service-top
          .title-left
            h5 DỊCH VỤ CỦA CHÚNG TÔI

          .owl-carousel.service-carousel.owl-theme
            .item
              .box-service-top
                img(src='../img/service-top-1.png')
                h4 Bán hàng chính hãng giá rẻ
                h5 Our store operates worldwide and you can free delivery of all orders
            .item
              .box-service-top
                img(src='../img/service-top-2.png')
                h4 Bảo hành dài hạn
                h5 Our store operates worldwide and you can free delivery of all orders
            .item
              .box-service-top
                img(src='../img/service-top-3.png')
                h4 Phục vụ tận tình, chuyên nghiệp
                h5 Our store operates worldwide and you can free delivery of all orders
            
        .seller
          .title-left
            h5 sản phẩm bán chạy
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-2.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-2.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
        .service
          .title-left
            h5 DỊCH VỤ vệ sinh công nghiệp

          .owl-carousel.service-carousel.owl-theme
            .item
              .box-service
                .box-service-img
                  a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                    img(src='../img/service-1.png')
                .box-service-detail
                  h4 
                    a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                      | Dịch vụ lau sàn
                  h5 Our store operates worldwide and you can free delivery of all orders
            
            .item
              .box-service
                .box-service-img
                  a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                    img(src='../img/service-1.png')
                .box-service-detail
                  h4 
                    a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                      | Dịch vụ lau sàn
                  h5 Our store operates worldwide and you can free delivery of all orders
            
            .item
              .box-service
                .box-service-img
                  a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                    img(src='../img/service-1.png')
                .box-service-detail
                  h4 
                    a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                      | Dịch vụ lau sàn
                  h5 Our store operates worldwide and you can free delivery of all orders
            
        .banner-left
          a(href='chi-tiet-san-pham.html')
            img(src='../img/banner-1.png')


      .right
        .product
          .title-page
            h3 
              a MÁY CHÀ SÀN CÔNG NGHIỆP
          
          .owl-carousel.product-carousel.owl-theme
            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-2.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-3.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

        .product
          .title-page
            h3 
              a MÁY hút bụi CÔNG NGHIỆP
          
          .owl-carousel.product-carousel.owl-theme
            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-3.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68
              
            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-2.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-3.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

        .product
          .title-page
            h3 
              a MÁY ĐÁNH BÓNG
          
          .owl-carousel.product-carousel.owl-theme
            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-2.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-2.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-3.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

        .product
          .title-page
            h3 
              a xe quét rác
          
          .owl-carousel.product-carousel.owl-theme
            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-3.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-2.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-3.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

            .item
              .box-product
                span MỚI
                .box-product-img
                  .box-product-img-custom
                    a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus-outline
                    a.custom-cart
                      i.mdi.mdi-cart-outline
                  a(href='chi-tiet-san-pham.html')
                    img(src='../img/product-1.png')
                .box-product-detail
                  h6 Mã sản phẩm: HC68
                  h5
                    a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                      | Máy đánh bóng sàn HiClean HC 68

        .contact-us
          | LIÊN HỆ HOTLINE 
          span 0909 38 39 39 
          | ĐỂ ĐƯỢC TƯ VẤN MIỄN PHÍ

        .partner
          .title-page
            h3 
              a xe quét rác

          .owl-carousel.partner-carousel.owl-theme
            .item
              img(src='../img/partner-1.png')
            .item
              img(src='../img/partner-1.png')
            .item
              img(src='../img/partner-1.png')
            .item
              img(src='../img/partner-1.png')
            .item
              img(src='../img/partner-1.png')
            .item
              img(src='../img/partner-1.png')
