extends _inc

block article
  section.article-top
    .container
      .category
        h4
          | danh mục sản phẩm
          i.mdi.mdi-text
        ul
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
          li
            a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        
        h5.show-cate
          | Xem thêm danh mục
          i.mdi.mdi-chevron-down
        h5.hidden-cate.d-none
          | Ẩn bớt danh mục
          i.mdi.mdi-chevron-up
      
      .slider
        .owl-carousel.slider-carousel.owl-theme
          .item
            a(href='chi-tiet-san-pham.html')
              img(src='../img/slider-1.png')
          
          .item
            a(href='chi-tiet-san-pham.html')
              img(src='../img/slider-1.png')
